.flickable-wrapper {
	overflow : hidden;
	position : relative;
}

.flickable-wrapper .inner {
	position : relative;
	display : -webkit-box;
	display : -moz-box;
	display : -o-box;
	display : box;
	width : 100%;
}

.flickable-pager {
	text-align:center;
	list-style:none;
}

.flickable-pager:before,
.flickable-pager:after  {
	display:table;
	line-height: 0;
	content: "";
}

.flickable-pager li {
	display:inline;
}

.flickable-pager .page {
	background-color:#999999;
	border-radius:50%;
	padding:5px;
	margin: 3px;
	content:"";
	font-size:0;
}

.flickable-pager .page.active {
	background-color:#333333;
}

.flickable-pager .next>a {
	float:right;
}

.flickable-pager .prev>a {
	float:left;
}

.btn {
	display:inline-block;
	padding:4px 12px;
	margin-bottom:0;
	color:#333333;
	text-align:center;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align:middle;
	cursor:pointer;
	background-color:#f5f5f5;
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border:1px solid #bbbbbb;
	border-radius:4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0, 0, 0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0, 0, 0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0, 0, 0,0.05);
	font-size:80%;
	text-decoration:none;
}

.btn.disabled,
.btn[disabled] {
	cursor:default;
	background-image:none;
	opacity:0.5;
	filter: alpah(opacity:0.5);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}